.loading {
  position: absolute;
  width: 100%;
  height: 80vh;
  margin-top: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #0b121e;
  color: white;
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
}

.app form input {
  background-color: #202b3c;
  padding: 10px;
  margin: 40px 20px 20px 40px;
  width: 60%;
  border: none;
  outline: none;
  border-radius: 24px;
  text-indent: 12px;
  color: white;
}

.app form button {
  padding: 10px 24px;
  border-radius: 24px;
  cursor: pointer;
  background-color: #202b3c;
  outline: none;
  border: none;
  color: white;
}

.container {
  display: flex;
  padding: 20px;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.today {
  min-height: 40vh;
  flex: 1;
  display: flex;
}

.today-left {
  flex: 2;
  margin: 6%;
}

.today-left h2 {
  font-size: 32px;
  margin-bottom: 5%;
  text-transform: uppercase;
}

.today-left h1 {
  font-size: 52px;
}

.today-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-right img {
  width: 60%;
}

.air {
  flex: 2;
  padding: 5%;
  background-color: #202b3c;
  border-radius: 24px;
  margin: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.dayCell {
  padding: 14px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #202b3c;
  margin: 4%;
  border-radius: 20px;
}

.dayCell p,
p {
  font-weight: 100;
}

.dayCell img {
  width: 12%;
}
